/* landing */
#header {
  width: 50vw;
  margin-left: 25vw;
}

/* eye */
.eyes {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 120px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #333;
}

/* social icons */
.social_links {
  z-index: 5;
  position: fixed;
  left: 4rem;
  bottom: 4rem;
  text-align: center;
}

.social_links i {
  margin-top: 1.5rem;
  font-size: 2rem;
}

/* navigation */
#navigation {
  position: fixed;
  top: 0;
  height: 9vh;
  width: 100vw;
  z-index: 5;
  text-align: right;
}

#navigation ul {
  text-align: right;
}
#navigation ul li {
  display: inline-block;
}
#navigation ul li a {
  display: inline-block;
  padding: 30px 20px;
  font-size: 1rem;
  text-decoration: none;
}
#navigation ul li.current-item a {
  color: #000;
}
#navigation #slide-line {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* events */
.center {
  background-color: aliceblue;
  position: absolute;
  right: 49vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  z-index: 10;
}

.sides {
  background-color: beige;
  position: absolute;
  right: 50vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* events circle rad */
.rad {
  background-color: black;
  height: 0;
  width: 10vw;
  z-index: 5;
  position: relative;
}

#rad1 {
  transform: rotateZ(27deg);
  left: 35.8vw;
  top: 4.4vh;
}

#rad2 {
  transform: rotateZ(90deg);
  left: 40.9vw;
  top: -0.5vh;
}

#rad3 {
  transform: rotateZ(-34deg);
  left: 36vw;
  top: 13vh;
}

#rad4 {
  transform: rotateZ(-90deg);
  left: 40.9vw;
  top: 19vh;
}

#rad5 {
  transform: rotateZ(208deg);
  left: 45.5vw;
  top: 13.4vh;
}

#rad6 {
  transform: rotateZ(-214deg);
  left: 45vw;
  top: 3vh;
}

#side1,
#side2,
#side3,
#side4,
#side5,
#side6 {
  opacity: 0;
  top: -50px;
  left: 200px;
}
