body {
  font-family: "Catamaran", sans-serif;
}

/* landing */
#header {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}

#front-wave {
  position: absolute;
  z-index: 10;
  top: 0;
}
#front-wave-img {
  height: auto;
  width: 100vw;
}

/* eye container */
#eye-container {
  position: absolute;
  z-index: 1;
  right: 43%;
  bottom: 0;
}
#eye-container-img {
  height: 95vh;
}

/* eye */
.eyes {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  top: 51%;
}
.eye {
  width: 5vw;
  height: 5vw;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 1vw;
  height: 1vw;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #000;
}

/* social icons */
.social_links {
  z-index: 5;
  position: fixed;
  left: 4rem;
  bottom: 4rem;
  text-align: center;
}

.social_links i {
  margin-top: 1.5rem;
  font-size: 2rem;
}

/* navigation */
#navigation {
  display: none;
  position: fixed;
  top: 0;
  height: 9vh;
  width: 100vw;
  z-index: 5;
  text-align: right;
}

#navigation ul {
  text-align: right;
}
#navigation ul li {
  display: inline-block;
}
#navigation ul li a {
  display: inline-block;
  padding: 30px 20px;
  font-size: 1rem;
  text-decoration: none;
}
#navigation ul li.current-item a {
  color: #000;
}
#navigation #slide-line {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* events */
.center {
  background: transparent;
  position: absolute;
  right: 45%;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  z-index: 10;
  top: 20%;
}

.center_txt {
  position: absolute;
  top: 33%;
  background: white;
  width: 100%;
  text-align: center;
  padding: 1vh 0;
  letter-spacing: 5px;
}

.sides {
  background: transparent;
  position: absolute;
  right: 50vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  top: 30%;
}

.side_txt {
  text-align: center;
  background-color: aliceblue;
  margin: 0;
  transition: ease-in 0.5s;
  /* padding-bottom: 100%; */
}

.txt_div {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  transition: ease-in 0.5s;
}

.txt_div:hover {
  opacity: 1;
  padding-top: 35%;
}

#evnt_circle {
  height: 50%;
  width: 50%;
  position: absolute;
  bottom: 25%;
  right: 25%;
}

/* events circle rad */
.c_img,
.s_img {
  width: 100%;
}

.rad {
  height: 0;
  width: 20vw;
  z-index: 5;
  position: relative;
}

#rad1 {
  transform: rotateZ(27deg);
  left: 2%;
  top: 32%;
}

#rad2 {
  transform: rotateZ(90deg);
  left: 20%;
  top: 13%;
}

#rad3 {
  transform: rotateZ(-34deg);
  left: 3%;
  top: 67%;
}

#rad4 {
  transform: rotateZ(-90deg);
  left: 20%;
  top: 82%;
}

#rad5 {
  transform: rotateZ(208deg);
  left: 38%;
  top: 63%;
}

#rad6 {
  transform: rotateZ(-214deg);
  left: 37%;
  top: 25%;
}

#side1,
#side2,
#side3,
#side4,
#side5,
#side6 {
  opacity: 0;
  top: -5vw;
  left: 200px;
}

/* events */
#evnt_back {
  position: relative;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
}

#evnt_back img {
  width: 100%;
}

/* contact us */
#cntct_us {
  position: relative;
  width: 100vw;
}

#cntct_us img {
  width: 100%;
}

/* about */
#about-us {
  position: relative;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#about-handle {
  position: absolute;
  z-index: 20;
  top: 0;
}
#about-us-img {
  width: 100%;
  height: auto;
}
#about-handle-img {
  height: 90vh;
  /* width: 100vw; */
}

#txt-2 {
  position: absolute;
  z-index: 55;
  top: 5vh;
  width: 30vw;
  color: white;
  right: 5vw;
  font-size: 1.2em;
}

.contact-us{
  position: absolute; 
  z-index: 55; 
  top: 20%; 
  left: 20%; 
  color: white; 
  font-size: 1.2em;
}


@media only screen and (max-width: 600px) {
  #header {
    height: 100%;
    width: auto;
  }
  #front-wave {
    height: 100%;
    width: auto;
    top: unset;
    bottom: 0;
  }

  #front-wave-img {
    height: 100%;
    width: auto;
  }
  #eye-container {
    top: unset;
    bottom: -4px;
  }
  #eye-container-img {
    height: auto;
    width: 22vw;
    bottom: -10%;
  }
  #about-us {
    height: 100%;
    width: auto;
  }

   #about-handle{
	
	
	}
	#about-us-img{
	height: 100vh;
    width: auto;		
	}
	#about-handle-img{
	
	}
	.eyes{
		display:none;
  }
  
  #cntct_us img{
    height:100vh;
    width:auto;
    float: right;
  }
  .contact-us{
    top: unset; 
    left: unset;
    text-align: center;
    margin-top: 30vh;
  }
  #txt-2 {
    
    top: 7vh;
    width: 100vw;
    color: white;
    right: unset;
    font-size: 1.05em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-size: 1.05em;
    text-align: center;
  }
	
}
